@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 10px;
}

body {
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Lato";
  font-size: 1.2rem;
  padding: 40px 0;
  display: block;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.navbar {
  height: 97px;
  background-color: white;
  z-index: 1;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.navbar-content {
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 10;
}
.navbar-content::after {
  content: "";
  position: absolute;
  bottom: 1px;
  margin-left: -50vw;
  width: 150vw;
  background-color: #d1d1d1;
  height: 1px;
  z-index: -1;
}
.navbar-content ul.left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.navbar-content ul.left .applaws-logo {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  text-align: end;
  -ms-flex-item-align: center;
      align-self: center;
}
.navbar-content div.middle-logo {
  position: relative;
  top: 35px;
  width: 10%;
  text-align: center;
  -webkit-transition: ease-out 0.35s;
  transition: ease-out 0.35s;
  background-color: #fff;
  z-index: 20;
  height: 83px;
}
.navbar-content div.middle-logo img {
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: ease-out 0.35s;
  transition: ease-out 0.35s;
}
.navbar-content ul.right {
  -ms-flex-preferred-size: 44.5%;
      flex-basis: 44.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.navbar-content ul.right .katide-logo {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  -ms-flex-item-align: center;
      align-self: center;
}
.navbar-content ul.right li.contact img.contact-img {
  margin-right: 12px;
}
.navbar-content ul.right li.contact a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navbar-content ul.right li.facebook a,
.navbar-content ul.right li.instagram a {
  padding-left: 15px;
  padding-right: 15px;
}

.active-navbar-option {
  border-bottom: 3px solid black;
  font-weight: 900;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 150px 0 100px 0;
}
.header .left-dog {
  position: relative;
  padding-top: 70px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.header .left-dog::after {
  content: "";
  position: absolute;
  bottom: 1px;
  right: 0;
  width: 50vw;
  height: 1px;
  background-color: #d1d1d1;
}
.header .left-dog img {
  width: 300px;
  height: 306px;
}
.header .main-txt {
  text-align: center;
}
.header .main-txt .txt1 {
  font-family: "Literata";
  font-weight: 800;
  font-size: 4rem;
  text-align: center;
}
.header .main-txt .txt2 {
  font-family: "Literata";
  font-size: 1.4rem;
  text-align: center;
  margin-top: 50px;
  margin: 25px auto 0 auto;
}
.header .right-cat {
  padding-top: 90px;
  position: relative;
}
.header .right-cat::after {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 50vw;
  height: 1px;
  background-color: #d1d1d1;
}
.header .right-cat img {
  width: 288px;
  height: 286px;
}

.products-section {
  position: relative;
  padding: 100px 0 180px 0;
}
.products-section .options {
  position: absolute;
  left: 50%;
  top: -175px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 540px;
}
.products-section .options .dog-option img {
  margin-right: 14px;
}
.products-section .options .dog-option,
.products-section .options .cat-option,
.products-section .options .toys-option {
  width: 160px;
  height: 140px;
  border: 1px solid #d1d1d1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  cursor: pointer;
}
.products-section .options .dog-option:not(.active):hover,
.products-section .options .cat-option:not(.active):hover,
.products-section .options .toys-option:not(.active):hover {
  border-color: #000;
}
.products-section .options .dog-option img,
.products-section .options .cat-option img,
.products-section .options .toys-option img {
  width: 35%;
}
.products-section .options .dog-option span,
.products-section .options .cat-option span,
.products-section .options .toys-option span {
  font-size: 1.6rem;
  font-family: "Literata";
  font-weight: 800;
  margin-top: 10px;
}

.active {
  background-color: #000;
  color: #fff;
  position: relative;
  border: none !important;
}
.active img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}
.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  border: solid 20px transparent;
  border-left-color: #000;
}

.food-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.food-products .food-choice {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}
.food-products .food-choice .food-option {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.food-products .food-choice .food-option .wet,
.food-products .food-choice .food-option .dry {
  -ms-flex-preferred-size: 47%;
      flex-basis: 47%;
  font-family: "Lato";
  font-size: 1.2rem;
  text-transform: uppercase;
  border: 1px solid #d1d1d1;
  padding: 14px 0;
  background-color: transparent;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.food-products .food-choice .food-option .wet:not(.active-food-option):hover,
.food-products .food-choice .food-option .dry:not(.active-food-option):hover {
  border-color: #000;
}
.food-products .food-choice .food-option .active-food-option {
  background-color: #000;
  color: #fff;
}
.food-products .food-choice .gallery-arrows {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}
.food-products .food-choice .gallery-arrows button {
  background-color: transparent;
  width: 44px;
  height: 44px;
  border: 1px solid #d1d1d1;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.food-products .food-choice .gallery-arrows button:hover {
  border-color: #000;
}
.food-products .food-choice .gallery-arrows button:disabled {
  border: 1px solid #d1d1d1;
}
.food-products .food-choice .section-applaws-logo img {
  margin-top: 40px;
  width: 43%;
}
.food-products .products-gallery {
  -ms-flex-preferred-size: 68%;
      flex-basis: 68%;
}
.food-products .products-gallery .cat-wet {
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  padding-right: 100px;
}
.food-products .products-gallery .cat-wet .cat-wet-container {
  width: 255px;
  height: 210px;
  border-left: 2px solid #dfaa40;
}
.food-products .products-gallery .cat-wet .cat-wet-container .product-code {
  border: 2px solid #dfaa40;
  color: #dfaa40;
  border-left: none;
  width: 95px;
  line-height: 34px;
  text-align: center;
  display: block;
  font-family: "Lato";
  font-size: 1rem;
}
.food-products .products-gallery .cat-wet .cat-wet-container img {
  margin-left: 10px;
}
.food-products .products-gallery .cat-wet .cat-wet-container .description {
  display: block;
  padding-left: 20px;
}
.food-products .products-gallery .cat-wet .cat-wet-container .description .title {
  display: block;
  font-size: 1rem;
  font-weight: 900;
  font-family: "Lato";
}
.food-products .products-gallery .cat-wet .cat-wet-container .description .ingridients {
  display: block;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Lato";
}
.food-products .products-gallery .cat-wet .cat-dry-container {
  width: 255px;
  height: 210px;
  border-left: 2px solid #cc6330;
  position: relative;
}
.food-products .products-gallery .cat-wet .cat-dry-container .product-code {
  border: 2px solid #cc6330;
  color: #cc6330;
  border-left: none;
  width: 95px;
  line-height: 34px;
  text-align: center;
  display: block;
  font-family: "Lato";
  font-size: 1rem;
}
.food-products .products-gallery .cat-wet .cat-dry-container .product-code:nth-child(2) {
  border-top: none;
  border-bottom: none;
}
.food-products .products-gallery .cat-wet .cat-dry-container img {
  position: absolute;
  left: 49%;
  top: 5%;
}
.food-products .products-gallery .cat-wet .cat-dry-container .description {
  position: absolute;
  bottom: 0;
  padding-left: 20px;
}
.food-products .products-gallery .cat-wet .cat-dry-container .description .title {
  display: block;
  font-size: 1rem;
  font-weight: 900;
  font-family: "Lato";
}
.food-products .products-gallery .cat-wet .cat-dry-container .description .ingridients {
  display: block;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Lato";
}

section.about {
  max-width: 1000px;
  margin: 0 auto;
  padding: 110px 0 100px 0;
  position: relative;
}
section.about::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50vw;
  width: 150vw;
  height: 1px;
  background-color: #d1d1d1;
}
section.about::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -50vw;
  width: 150vw;
  height: 1px;
  background-color: #d1d1d1;
}
section.about .middle-column {
  max-width: 55%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 80px;
}
section.about .middle-column h1 {
  font-family: "Literata";
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 25px;
}
section.about .middle-column p {
  font-family: "Lato";
  font-size: 1.4rem;
}
section.about .columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
section.about .columns .left-column,
section.about .columns .right-column {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
section.about .columns .left-column p.upper-txt,
section.about .columns .left-column p.lower-txt,
section.about .columns .right-column p.upper-txt,
section.about .columns .right-column p.lower-txt {
  padding: 0 50px 0 75px;
  font-family: "Lato";
  font-size: 1.1rem;
  line-height: 2;
}
section.about .columns .left-column p.upper-txt,
section.about .columns .right-column p.upper-txt {
  margin-bottom: 25px;
}
section.about .columns .left-column .animal-img,
section.about .columns .left-column .fish-img,
section.about .columns .right-column .animal-img,
section.about .columns .right-column .fish-img {
  position: relative;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
section.about .columns .left-column .fish-img,
section.about .columns .right-column .fish-img {
  margin-bottom: 60px;
}

.contact-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 0 0 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact-section .contact-info {
  -ms-flex-preferred-size: 290px;
      flex-basis: 290px;
}
.contact-section .contact-info h2 {
  font-family: "Literata";
  font-weight: 800;
  font-size: 4rem;
}
.contact-section .contact-info p.description {
  font-family: "Lato";
  font-size: 1.4rem;
  padding: 40px 0;
  line-height: 1.5;
}
.contact-section .contact-info .contact-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact-section .contact-info .contact-details a {
  padding: 0;
  text-transform: 0;
  font-family: "Lato";
  font-size: 1.4rem;
  text-transform: lowercase;
}
.contact-section .contact-info .contact-details a img {
  margin-right: 10px;
}
.contact-section .contact-info .contact-details p.phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.4rem;
  font-family: "Lato";
}
.contact-section .contact-info .contact-details p.phone img {
  margin-right: 10px;
}
.contact-section .contact-form {
  -ms-flex-preferred-size: 58%;
      flex-basis: 58%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  position: relative;
  padding-top: 35px;
}
.contact-section .contact-form .name-and-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact-section .contact-form .name-input,
.contact-section .contact-form .email-input,
.contact-section .contact-form .message-input {
  border: none;
  border-bottom: 1px solid #d1d1d1;
  font-family: "Lato";
  font-size: 1.4rem;
  height: 40px;
}
.contact-section .contact-form .name-input:focus,
.contact-section .contact-form .email-input:focus,
.contact-section .contact-form .message-input:focus {
  outline: none;
}
.contact-section .contact-form .name-input::-webkit-input-placeholder, .contact-section .contact-form .email-input::-webkit-input-placeholder, .contact-section .contact-form .message-input::-webkit-input-placeholder {
  font-family: "Lato";
  font-size: 1.4rem;
  color: #000;
}
.contact-section .contact-form .name-input::-moz-placeholder, .contact-section .contact-form .email-input::-moz-placeholder, .contact-section .contact-form .message-input::-moz-placeholder {
  font-family: "Lato";
  font-size: 1.4rem;
  color: #000;
}
.contact-section .contact-form .name-input:-ms-input-placeholder, .contact-section .contact-form .email-input:-ms-input-placeholder, .contact-section .contact-form .message-input:-ms-input-placeholder {
  font-family: "Lato";
  font-size: 1.4rem;
  color: #000;
}
.contact-section .contact-form .name-input::-ms-input-placeholder, .contact-section .contact-form .email-input::-ms-input-placeholder, .contact-section .contact-form .message-input::-ms-input-placeholder {
  font-family: "Lato";
  font-size: 1.4rem;
  color: #000;
}
.contact-section .contact-form .name-input::placeholder,
.contact-section .contact-form .email-input::placeholder,
.contact-section .contact-form .message-input::placeholder {
  font-family: "Lato";
  font-size: 1.4rem;
  color: #000;
}
.contact-section .contact-form .name-input {
  width: 190px;
}
.contact-section .contact-form .email-input {
  width: 500px;
}
.contact-section .contact-form .message-input {
  display: block;
  width: 100%;
  margin-top: 65px;
}
.contact-section .contact-form .error-info {
  position: absolute;
  bottom: 0;
  right: 113px;
  padding-right: 20px;
}
.contact-section .contact-form .error-info p {
  color: #ff0000;
  font-family: "Lato";
  font-size: 1.4rem;
  display: none;
}
.contact-section .contact-form .error-info h2 {
  display: none;
  font-family: "Lato";
  font-size: 1.6rem;
}
.contact-section .contact-form .submit-button {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: auto;
  background-color: #000;
  color: #fff;
  width: 113px;
  height: 44px;
  border: none;
  font-family: "Lato";
  font-size: 1.2rem;
}
.contact-section .contact-form .submit-button img {
  margin-left: 10px;
}

.footer {
  padding: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.footer .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .content a.facebook-footer,
.footer .content a.instagram-footer {
  padding: 10px;
}
.footer .content a.instagram-footer {
  margin: 0 20px;
}
.footer .content p {
  font-family: "Lato";
  font-size: 1.4rem;
  margin-left: 60px;
}/*# sourceMappingURL=style.css.map */