* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  font-size: 10px;
}
body {
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Lato";
  font-size: 1.2rem;
  padding: 40px 0;
  display: block;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  @include mobile-styles {
    overflow: hidden;
  }
}
