.header {
  display: flex;
  justify-content: space-between;
  padding: 150px 0 100px 0;
  // background-color: lightblue;
  // background-color: lightgoldenrodyellow;
  .left-dog {
    position: relative;
    // background-color: #d1d1d1;
    padding-top: 70px;
    left: 40px;
    // align-self: flex-end;
    &::after {
      content: "";
      position: absolute;
      bottom: 2px;
      right: -50px;
      width: 50vw;
      height: 1px;
      background-color: #d1d1d1;
    }
    img {
      width: 300px;
      height: 306px;
    }
  }
  .main-txt {
    // background-color: lightblue;
    text-align: center;
    h1.txt1 {
      font-family: "Literata";
      font-weight: 800;
      font-size: 4rem;
      text-align: center;
      // width: 647px;
    }
    p.txt2 {
      font-family: "Lato";
      font-size: 1.4rem;
      text-align: center;
      margin-top: 50px;
      font-weight: 500;
      margin: 38px auto 0 auto;
    }
  }
  .right-cat {
    padding-top: 90px;
    position: relative;
    right: 60px;
    &::after {
      content: "";
      position: absolute;
      bottom: 2px;
      left: -40px;
      width: 50vw;
      height: 1px;
      background-color: #d1d1d1;
    }
    img {
      width: 288px;
      height: 286px;
    }
  }
}
