@mixin product-container {
  position: relative;
  width: 255px;
  height: 210px;
  border-left: 1px solid transparent;
}
@mixin product-code {
  border: 1px solid transparent;
  border-left: none;
  width: 95px;
  line-height: 34px;
  text-align: center;
  display: block;
  font-family: "Lato";
  font-size: 1rem;
  background-color: #fff;
  &:nth-child(2) {
    border-top: none;
    border-bottom: none;
  }
}
@mixin product-img {
  position: absolute;
  z-index: -1;
}
@mixin description {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 20px;
}
@mixin product-title {
  display: block;
  font-size: 1rem;
  font-weight: 900;
  font-family: "Lato";
}
@mixin product-ingridients {
  display: block;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Lato";
}
//================

@mixin product($color) {
  @include product-container;
  border-color: $color;
  .product-code {
    @include product-code;
    border-color: $color;
    color: $color;
  }
  img {
    @include product-img;
  }
  .description {
    @include description;
    .title {
      @include product-title;
    }
    .ingridients {
      @include product-ingridients;
    }
  }
}
