// Lato
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
$font-primary: "Lato", sans-serif;
$font-primary-weight-regular: 400;
$font-primary-weight-medium: 500;
$font-primary-weight-bold: 700;

// Literata
@import url("https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap");
$font-secondary: "Literata", sans-serif;
$font-secondary-weight-regular: 400;
$font-secondary-primary-weight-medium: 500;
$font-secondary-primary-weight-bold: 800;

html {
  font-size: 10px;
}
