.products-section {
  position: relative;
  padding: 100px 0 50px 0;
  // background-color: lightblue;
  .options {
    position: absolute;
    left: 50%;
    top: -175px;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
    width: 50%;
    .dog-option img {
      margin-right: 14px;
    }
    .dog-option,
    .cat-option,
    .toys-option {
      width: 200px;
      height: 160px;
      border: 1px solid #d1d1d1;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      transition: 0.25s;
      cursor: pointer;
      &:not(.active):hover {
        box-shadow: 0 0 6px 4px #d1d1d1;
      }
      img {
        width: 35%;
      }
      span {
        font-size: 1.6rem;
        font-family: "Literata";
        font-weight: 800;
        margin-top: 10px;
      }
    }
  }
}

//  Active option
.active {
  background-color: #000;
  color: #fff;
  position: relative;
  border: none !important;
  img {
    filter: invert(100%);
  }
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -20px;
    border: solid 20px transparent;
    border-left-color: #000;
  }
}
