// Products Section
.products-section {
  position: relative;
  padding: 100px 0 180px 0;
  @include tablet {
    padding: 80px 0 100px 0;
  }
  @include mobile-large {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    padding-top: 30px;
  }

  // Options container
  .options {
    position: absolute;
    left: 50%;
    top: -175px;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    width: 540px;

    @include tablet {
      width: 100%;
      justify-content: center;
    }

    @include mobile-large {
      width: 382px;
      transform: translate(0);
      position: static;
      margin: 0 auto;
      @include mobile-small {
        width: 300px;
      }
    }

    // Options buttons
    .option {
      width: 160px;
      height: 140px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border: 1px solid #d1d1d1;
      transition: 0.25s;
      cursor: pointer;
      &.dog-option {
        margin: 0 10px;
      }
      @include tablet {
        width: 130px;
        height: 110px;
      }
      @include mobile-large {
        width: 113px;
        height: 99px;
        @include mobile-small {
          width: 90px;
          height: 80px;
        }
      }

      &.dog-option img {
        margin-right: 14px;
        @include mobile-large {
          margin-right: 8px;
        }
      }

      &:not(.active):hover {
        border-color: #000;
      }

      img {
        width: 35%;
      }

      span {
        margin-top: 10px;
        font-size: 1.6rem;
        font-family: $font-secondary;
        font-weight: 800;
        @include mobile-small {
          font-size: 1.2rem;
        }
      }
    }
  }
}

// Active Option
.active {
  background-color: #000;
  color: #fff;
  position: relative;
  border: none !important;

  img {
    filter: invert(100%);
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -20px;
    border: solid 20px transparent;
    border-left-color: #000;
  }
}
