$colors: (
  cat-wet: #dfaa40,
  cat-dry: #cc6330,
  katido: #4fb6b1,
  cat-dry-treats: #71517b,
  dog-wet: #ac517c,
  dog-dry: #cc037d,
);

.products-gallery {
  flex-basis: 69%;
  @include mobile {
    flex-basis: 100%;
  }
  .cat-wet {
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    padding-right: 100px;
    @include mobile {
      height: 330px;
      justify-content: center;
      align-content: center;
      padding-right: 0;
    }
    .cat-wet-container {
      @include product(map-get($colors, "cat-wet"));
      img {
        left: 16%;
        bottom: 14%;
        &.cat-treat-fix-1 {
          left: 25%;
        }
      }
    }

    .cat-katido-container {
      @include product(map-get($colors, "katido"));
      img {
        left: 20%;
        bottom: 20%;
      }
    }

    .cat-dry-container {
      @include product(map-get($colors, "cat-dry"));
      img {
        left: 38%;
        bottom: 16%;
        &.cat-dry-fix-1 {
          left: 48%;
        }
      }
      &.cat-dry-fix8 .cat-dry-fix8-code {
        border-bottom: 1px solid map-get($colors, "cat-dry");
      }
    }

    .cat-dry-treats-container {
      @include product(map-get($colors, "cat-dry-treats"));
      img {
        left: 14%;
        top: 5%;
      }
    }

    .toys-container {
      @include product(map-get($colors, "katido"));
      img {
        left: 42%;
        bottom: 0;
        &.toy-fix-1 {
          bottom: -6%;
        }
      }
      .description {
        width: 110px;
      }
    }

    .dog-wet-container {
      @include product(map-get($colors, "dog-wet"));
      img {
        left: 12%;
        bottom: 17%;
        &.dog-wet-fix-sachets {
          bottom: 11%;
        }
      }
    }

    .dog-dry-container {
      @include product(map-get($colors, "dog-dry"));
      img {
        left: 40%;
        bottom: 15%;
      }
    }
  }
}
