.food-products {
  display: flex;
  justify-content: space-between;
  .food-choice {
    flex-basis: 20%;
    // background-color: lightcoral;
    .food-option {
      width: 60%;
      display: flex;
      justify-content: space-between;
      .wet,
      .dry {
        flex-basis: 47%;
        font-family: "Lato";
        font-size: 1.2rem;
        text-transform: uppercase;
        border: 1px solid #d1d1d1;
        padding: 14px 0;
        background-color: transparent;
        transition: 0.25s;
        &:not(.active-food-option):hover {
          border-color: #000;
        }
      }
      .active-food-option {
        background-color: #000;
        color: #fff;
      }
    }
    .gallery-arrows {
      width: 100px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
      button {
        background-color: transparent;
        width: 44px;
        height: 44px;
        border: 1px solid #d1d1d1;
        transition: 0.25s;
        &:hover {
          border-color: #000;
        }
        &:disabled {
          border: 1px solid #d1d1d1;
        }
      }
    }
    .section-applaws-logo img {
      margin-top: 40px;
      width: 43%;
    }
  }
  // GALLERY
  $cat-wet-color: #dfaa40;
  $cat-dry-color: #cc6330;
  $cat-wet-katido-color: #4fb6b1;
  $cat-dry-treats-color: #71517b;
  $dog-wet-color: #ac517c;
  $dog-dry-color: #cc037d;

  .products-gallery {
    flex-basis: 68%;
    // background-color: lightblue;
    .cat-wet {
      height: 500px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-content: space-between;
      padding-right: 100px;
      &:last-child {
        background-color: red;
      }
      // CAT WET
      .cat-wet-container {
        @include product-container;
        // background-color: lightblue;
        border-left: 2px solid $cat-wet-color;
        .product-code {
          border: 2px solid $cat-wet-color;
          color: $cat-wet-color;
          @include product-code;
        }
        img {
          position: absolute;
          left: 6%;
          bottom: 15%;
          z-index: -1;
        }
        .description {
          @include description;
          .title {
            @include product-title;
          }
          .ingridients {
            @include product-ingridients;
          }
        }
      }

      // CAT KATIDO
      .cat-katido-container {
        @include product-container;
        border-left: 2px solid $cat-wet-katido-color;
        img {
          margin-left: 10px;
        }
        .description {
          @include description;
          .title {
            @include product-title;
          }
          .ingridients {
            @include product-ingridients;
          }
        }
      }
      // CAT DRY
      .cat-dry-container {
        @include product-container;
        border-left: 2px solid $cat-dry-color;
        .product-code {
          border: 2px solid $cat-dry-color;
          color: $cat-dry-color;
          @include product-code;
          &:nth-child(2) {
            border-top: none;
            border-bottom: none;
          }
        }
        img {
          position: absolute;
          left: 49%;
          top: 5%;
        }
        .description {
          @include description;
          .title {
            @include product-title;
          }
          .ingridients {
            @include product-ingridients;
          }
        }
      }
      // CAT DRY TREATS
      .cat-dry-treats-container {
        @include product-container;
        border-left: 2px solid $cat-dry-treats-color;
        .product-code {
          border: 2px solid $cat-dry-treats-color;
          color: $cat-dry-treats-color;
          @include product-code;
        }
        img {
          position: absolute;
          left: 49%;
          top: 5%;
        }
        .description {
          @include description;
          .title {
            @include product-title;
          }
          .ingridients {
            @include product-ingridients;
          }
        }
      }
      // TOYS KATIDO
      .toys-katido-container {
        @include product-container;
        border-left: 2px solid $cat-wet-katido-color;
        img {
          position: absolute;
          left: 42%;
          bottom: 0;
        }
        .description {
          @include description;
          width: 110px;
          // border: 1px solid black;
          .title {
            @include product-title;
          }
          .ingridients {
            @include product-ingridients;
          }
        }
      }
      // DOG WET
      .dog-wet-container {
        @include product-container;
        // background-color: lightblue;
        border-left: 2px solid $dog-wet-color;
        .product-code {
          border: 2px solid $dog-wet-color;
          color: $dog-wet-color;
          @include product-code;
        }
        img {
          margin-left: 10px;
        }
        .description {
          @include description;
          .title {
            @include product-title;
          }
          .ingridients {
            @include product-ingridients;
          }
        }
      }
      // DOG DRY
      .dog-dry-container {
        @include product-container;
        border-left: 2px solid $dog-dry-color;
        .product-code {
          border: 2px solid $dog-dry-color;
          color: $dog-dry-color;
          @include product-code;
          &:nth-child(2) {
            border-top: none;
            border-bottom: none;
          }
        }
        img {
          position: absolute;
          left: 40%;
          bottom: 15%;
          z-index: -1;
        }
        .description {
          @include description;
          .title {
            @include product-title;
          }
          .ingridients {
            @include product-ingridients;
          }
        }
      }
    }
  }
}
