.food-products {
  display: flex;
  justify-content: space-between;
  .food-choice {
    flex-basis: 20%;
    // background-color: lightcoral;
    .food-option {
      width: 60%;
      display: flex;
      justify-content: space-between;
      .wet,
      .dry {
        flex-basis: 47%;
        font-family: "Lato";
        font-size: 1.2rem;
        text-transform: uppercase;
        border: 1px solid #d1d1d1;
        padding: 14px 0;
        background-color: transparent;
        transition: 0.25s;
        &:not(.active-food-option):hover {
          border-color: #000;
        }
      }
      .active-food-option {
        background-color: #000;
        color: #fff;
      }
    }
    .gallery-arrows {
      width: 100px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
      button {
        background-color: transparent;
        width: 44px;
        height: 44px;
        border: 1px solid #d1d1d1;
        transition: 0.25s;
        &:hover {
          border-color: #000;
        }
        &:disabled {
          border: 1px solid #d1d1d1;
        }
      }
    }
    .section-applaws-logo img {
      margin-top: 40px;
      width: 43%;
    }
  }
  // GALLERY
  .products-gallery {
    // background-color: lightblue;
    flex-basis: 74%;
    .cat-wet {
      height: 700px;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      flex-wrap: wrap;
    }
    & * {
      flex-basis: 30%;
    }
  }
}
