// Product container colors
$cat-wet: #dfaa40;
$cat-dry: #cc6330;
$katido: #4fb6b1;
$cat-dry-treats: #71517b;
$dog-wet: #ac517c;
$dog-dry: #cc037d;

// Sidebar transition times
$sidebar-showTime-on-off: 0.5s;
$petidea-logo-animation: 0.35s;
$underline-navlinks: 0.25s;
