.products-gallery {
  flex-basis: 69%;
  @include laptop {
    flex-basis: 78%;
  }
  @include tablet {
    flex-basis: 78%;
  }
  @include mobile-large {
    flex-basis: 100%;
  }
  .cat-wet {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    height: 500px;
    padding-right: 100px;
    @include laptop {
      height: auto;
      padding: 0;
    }
    @include tablet {
      height: auto;
      padding: 0;
    }
    @include mobile-large {
      height: 330px;
      justify-content: center;
      align-content: center;
      padding-right: 0;
    }
    .cat-wet-container {
      @include product($cat-wet);
      img {
        left: 16%;
        bottom: 14%;
        &.cat-treat-fix-1 {
          left: 25%;
        }
      }
    }

    .cat-katido-container {
      @include product($katido);
      img {
        left: 20%;
        bottom: 20%;
      }
    }

    .cat-dry-container {
      @include product($cat-dry);
      img {
        left: 38%;
        bottom: 16%;
        &.cat-dry-fix-1 {
          left: 48%;
        }
      }
      &.cat-dry-fix8 .cat-dry-fix8-code {
        border-bottom: 1px solid $cat-dry;
      }
    }

    .cat-dry-treats-container {
      @include product($cat-dry-treats);
      img {
        left: 14%;
        top: 5%;
      }
    }

    .toys-container {
      @include product($katido);
      img {
        left: 42%;
        bottom: 0;
        &.toy-fix-1 {
          bottom: -6%;
        }
      }
      .description {
        width: 110px;
      }
    }

    .dog-wet-container {
      @include product($dog-wet);
      img {
        left: 12%;
        bottom: 17%;
        &.dog-wet-fix-sachets {
          bottom: 11%;
        }
      }
    }

    .dog-dry-container {
      @include product($dog-dry);
      img {
        left: 40%;
        bottom: 15%;
      }
    }
  }
}
