.footer {
  display: flex;
  padding: 60px 0;
  justify-content: flex-end;
  @include tablet {
    padding: 40px 15px;
  }
  @include mobile-large {
    justify-content: flex-start;
    padding: 0 20px;
  }
  .content {
    display: flex;
    align-items: center;
    @include mobile-large {
      width: 100%;
      justify-content: space-between;
    }
    a.facebook-footer,
    a.instagram-footer {
      padding: 10px;
    }
    a.instagram-footer {
      margin: 0 20px;
      @include mobile-large {
        margin-left: -90px;
      }
    }
    p {
      margin-left: 60px;
      font-family: $font-primary;
      font-size: 1.4rem;
      @include mobile-small {
        font-size: 1rem;
      }
      @include tablet {
        font-size: 1.4rem;
      }
    }
  }
}
