// Food Products Section
.food-products {
  display: flex;
  justify-content: space-between;
  @include tablet {
    padding: 0 15px;
  }
  @include mobile-large {
    width: 100%;
    flex-wrap: wrap;
  }

  // Food Choice
  .food-choice {
    flex-basis: 20%;
    @include tablet {
    }
    @include mobile-large {
      flex-basis: 382px;
      display: flex;
      margin: 40px auto 0 auto;
      @include mobile-small {
        flex-basis: 300px;
      }
    }

    // Food Option
    .food-option {
      width: 60%;
      display: flex;
      justify-content: space-between;
      @include mobile-large {
        order: 2;
        flex-basis: 50%;
      }

      // Wet and Dry Options
      .wet,
      .dry {
        flex-basis: 47%;
        padding: 14px 0;
        font-size: 1.2rem;
        font-family: $font-primary;
        text-transform: uppercase;
        border: 1px solid #d1d1d1;
        background-color: transparent;
        transition: 0.25s;

        &:not(.active-food-option):hover {
          border-color: #000;
        }
      }

      // Active Food Option
      .active-food-option {
        background-color: #000;
        color: #fff;
      }
    }

    // Gallery Arrows
    .gallery-arrows {
      width: 100px;
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include mobile-large {
        display: none;
      }

      button {
        width: 44px;
        height: 44px;
        border: 1px solid #d1d1d1;
        background-color: transparent;
        transition: 0.25s;

        &:hover {
          border-color: #000;
        }

        &:disabled {
          border: 1px solid #d1d1d1;
        }
      }
    }
    .section-applaws-logo {
      @include mobile-large {
        flex-basis: 50%;
      }
      img {
        margin-top: 40px;
        width: 43%;
        @include mobile-large {
          width: 50%;
          margin-top: 0;
        }
      }
    }
  }
}
